myenv/
__pycache__/
ultralytics/__pycache__/
*.pyc
*.pt
.vscode/
gfn/

fastreid/
yolo_tracking/
ultralytics/

checkpoints/
TrackEval/

datasets/

results/
videos/
demo_output_videos/
imgsz_confidence_analysis/
reid/
output/

prime_reid_experiment/plots/
*.txt
# ignore symoblic links
*.link
# ignore logs
*.log
# ignore tensorboard logs
runs/
# ignore checkpoints
*.pth
*.csv
# ignore images