faiss-gpu==1.7.2
filterpy==1.4.5
ftfy==6.2.3
gdown==5.2.0
gitpython==3.1.43
ipykernel==6.29.5
lapx==0.5.10.post1
loguru==0.7.2
opencv-python==4.10.0.84
openpyxl==3.1.5
pysocks==1.7.1
regex==2024.7.24
scikit-learn==1.5.0
seaborn==0.13.2
shapely==2.0.6
tabulate==0.9.0
tensorboard==2.17.1
termcolor==2.4.0
torchvision==0.17.2
yacs==0.1.8
